.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-header {
  text-align: center;
  margin: 0 10%;
  margin-top: 5%;
}

.image-div {
  flex-shrink: 0;
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left; 
  margin-left: 50px;
}

.list-div {
  flex: 1;
  display: flex;
  text-align: center;
  margin-left: 7%;
  align-items: center;
  justify-content: center;
}

.list-style {
  text-align: left;
  list-style-type: none;
  line-height: 35px;
}

.link-style-nav {
  text-decoration: none;
  color: #708090;
  font-family: Montserrat;
  font-size: 20px;
}

.link-style-nav:hover {
  text-decoration: underline;
  text-decoration-color: #c0c0c0;
  text-underline-offset: 10px;
  color: #dc143c;
}

.image-div-2 {
  display: inline-block;
}

body {
  background-color: #e6f1f1;
}

.active {
  color: #f88600;
  text-decoration: underline;
  text-decoration-color: #c0c0c0;
  text-underline-offset: 10px;
}

.header-content-separator {
  /*margin-top: 50px;*/
  margin-top: 1%;
  margin-bottom: 2%;
}

.footer-content-separator {
  margin-top: 2%;
}

.redirections {
  text-decoration: none;
  color: #708090;
}

.redirections:visited {
  color: 
}

.separator {
  margin: 0 10%;
}

.parent-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  margin-top: 5%;
}

.footer-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div-logos {
  margin-top: 3%;
  width: 30px;
  height: 30px;
  position: relative;
  padding-right: 1.25%;
  padding-left: 1.25%;
  transition: transform 0.3s ease;
}

.footer-div-logos img {
  width: 100%;
  height: 100%;
}

.footer-div-logos:first-child {
  padding-left: 0%;
  padding-right: 1.25%;
}

.footer-div-logos:last-child {
  padding-right: 0%;
}

.footer-div-logos:hover {
  transform: scale(2);
}

.footer-contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}

.contact-info {
  font-family: Montserrat;
  font-weight: bold;
  color: #708090;
}

.main-body-frame {
  margin: 0 10%;
}

.main-home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.main-portfolio-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polaroid-images {
  display: flex;
  justify-content: center;
  margin: 0 125px;
}

.polaroid-container {
  height: min-content;
  width: 220px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 6%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  transform: rotate(-3deg);
}

.polaroid-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.polaroid-container .polaroid-caption {
  margin-top: 8px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: bold;
}

.polaroid-left {
  float: left;
}

.polaroid-right {
  float: right;
  transform: rotate(3deg);
}

.double-stacked {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
}

.flip-rotation-image {
  transform: rotate(3deg);
}

.introduction {
  font-family: Montserrat;
}

.introduction h1{
  text-align: center;
  margin-top: 0%;
  color: #708090;
}

.introduction h2 {
  font-weight: normal;
  line-height: 35px;
  margin-bottom: 3%;
  color:  #708090;
  font-size: 20px;
}

.spotify-playlist {
  margin: 0 10%;
  display: inline;
  font-family: Montserrat;
  color: #708090;
  justify-content: center;
}

.spotify-playlist h2 {
  text-align: center;
  font-weight: normal;
}

.spotify-playlist iframe {
  display: block;
  margin: 0 auto;
  border: none;
  width: 75%;
  height: 80px;
}

.about-separator {
  justify-self: center;
  width: 80%;
  text-align: center;
  color: #dc143c;
  font-family: Montserrat;
  margin-bottom: 2%;
}

.current-occupation {
  display: flex;
}

.info-about-me {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info-child {
  flex: 1;
}

.info-child-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-child-img img {
  width: 90%;
}

.info-child h1 {
  text-align: center;
  color: #708090;
  font-family: Montserrat;
  margin-top: 0%;
}

.info-child h2 {
  font-family: Montserrat;
  color: #708090;
  font-size: 20px;
  line-height: 130%;
  font-weight: normal;
}

#eecs-link {
  color: #003262;
  text-decoration: none;
}

#eecs-link:active {
  color: #fdb515;
}

#modalai-link {
  color: #046318;
  text-decoration: none;
}

.coursework-section {
  width: 80%;
}

.experience-section {
  width: 80%;
  margin-bottom: 5%;
}

.personal-projects-section {
  width: 80%;
  margin-bottom: 4%;
}

.portfolio-section-headers {
  color: #dc143c;
  text-align: center;
  font-family: Montserrat;
}

.portfolio-section-redirect {
  display: none;
}

#portfolio-link.active ~ .portfolio-section-redirect {
  display: block;
}

.section-style {
  text-decoration: none;
  color: #708090;
  font-family: Montserrat;
  font-size: 20px;
}

.section-style:hover {
  text-decoration: underline;
  text-decoration-color: #c0c0c0;
  text-underline-offset: 10px;
  color: #dc143c;
}

.class-cards-grid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 3%;
}

.class-card {
  border: 1px solid #e6f1f1;
  border-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  width: 300px;
  height: 425px;
  background-color: #a3c2c2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4%;
  position: relative;
  justify-content: center;
}

.class-card-main {
  font-size: 18px;
  font-weight: bold;
  color: #708090;
  text-align: center;
  font-family: Montserrat;
}

.class-card-content {
  align-items: center;
}

.class-card-content h4 {
  color: #e6f1f1;
  margin: 5%;
}

.class-card-content h3 {
  color: #e6f1f1;
  font-size: 100%;
}

.class-card-footer {
  border-top: 1px solid #708090;
  width: 75%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.class-card-footer h3 {
  color: #e6f1f1;
  text-align: center;
  font-family: Montserrat;
}

.course-link-container {
  position: relative;
  bottom: 5px;
  display: flex;
  justify-content: center;
}

.course-link {
  border: 1px solid #e6f1f1;
  border-radius: 8px;
  width: 200px;
  background-color: #708090;
  text-align: center;
  color: #e6f1f1;
  font-family: Montserrat;
}

.course-link a {
  text-decoration: none;
  color: inherit;
}

.website-main-1 {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.website-main-1:last-child {
  margin-bottom: 0%;
}

.website-img-or-svg-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.website-img-or-svg-1 h2 {
  text-align: center;
  color: #dc143c;
  font-family: Montserrat;
  margin-top: 0%;
}

.gif-visuals {
  width: 75%;
}

.website-info-1 {
  flex: 1;
}

.website-info-1 h1 {
  text-align: center;
  color: #708090;
  font-family: Montserrat;
  margin-top: 0%;
}

.website-info-1 p {
  font-family: Montserrat;
  color: #708090;
  font-size: 20px;
  line-height: 130%;
  font-weight: normal;
}

.website-main-2 {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.website-main-2:last-child {
  margin-bottom: 0%;
}

.website-img-or-svg-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.website-img-or-svg-2 h2 {
  text-align: center;
  color: #dc143c;
  font-family: Montserrat;
  margin-top: 0%;
}

.website-info-2 {
  flex: 1;
}

.website-info-2 h1 {
  text-align: center;
  color: #708090;
  font-family: Montserrat;
  margin-top: 0%;
}

.website-info-2 p {
  font-family: Montserrat;
  color: #708090;
  font-size: 20px;
  line-height: 130%;
  font-weight: normal;
}

@media (max-width: 768px) {
  .website-main-1 {
    flex-direction: column;
  }
  .website-main-2 {
    flex-direction: column-reverse;
  }
  .info-about-me {
    flex-direction: column-reverse;
  }
  .contact-info h4 {
    margin: 0%;
    text-align: center;
  }
  .footer-div-logos:hover {
    transform: none;
  }
}

@media (max-width: 980px) {
  .class-cards-grid {
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .list-style {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
  }
  .image-div {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .image-div img {
    height: 100%;
  }
  .list-div {
    margin: 0 0%;
  }
  .nav-container {
    text-align: center;
    width: 100%;
  }
  .portfolio-section-redirect {
    padding: 0%;
    text-align: left;
  }
}

.project-date {
  color:#dc143c;
  text-align: center;
  font-family: Montserrat;
}

.anime-vid {
  width: 90%;
}

.movie-vid {
  width: 90%;
}

.main-resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-resume-page iframe {
  width: 100%;
  height: 800px;
  border: 0;
}

.resume-title{
  width: 80%;
  font-family: Montserrat;
  color: #dc143c;
  text-align: center;
}

.polaroid-imgs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.polaroid-imgs {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0%;
}

